[submodule "ttproj/lib/forge-std"]
	path = ttproj/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ttproj/lib/solmate"]
	path = ttproj/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "ttproject/lib/forge-std"]
	path = ttproject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D8-Foundry、TestBank/BankTest/lib/forge-std"]
	path = D8-Foundry、TestBank/BankTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D13-Web3Signer/BankTest/lib/forge-std"]
	path = D13-Web3Signer/BankTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
