[submodule "ttproj/lib/forge-std"]
	path = ttproj/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ttproj/lib/solmate"]
	path = ttproj/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "ttproject/lib/forge-std"]
	path = ttproject/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D8-Foundry、TestBank/BankTest/lib/forge-std"]
	path = D8-Foundry、TestBank/BankTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D13-Web3Signer/BankTest/lib/forge-std"]
	path = D13-Web3Signer/BankTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D09-TestNFTMarket/NFTMarket/lib/forge-std"]
	path = D09-TestNFTMarket/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D09-TestNFTMarket/NFTMarket/lib/openzeppelin-contracts"]
	path = D09-TestNFTMarket/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D13-Web3Signer/EIP2612Token/lib/forge-std"]
	path = D13-Web3Signer/EIP2612Token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D13-Web3Signer/TokenBankPermit/lib/forge-std"]
	path = D13-Web3Signer/TokenBankPermit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D13-Web3Signer/NFTMarketPermit/lib/forge-std"]
	path = D13-Web3Signer/NFTMarketPermit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D13-Web3Signer/EIP2612Token/lib/openzeppelin-contracts"]
	path = D13-Web3Signer/EIP2612Token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D13-Web3Signer/NFTMarketPermit/lib/openzeppelin-contracts"]
	path = D13-Web3Signer/NFTMarketPermit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D13-Web3Signer/TokenBankPermit/lib/openzeppelin-contracts"]
	path = D13-Web3Signer/TokenBankPermit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D11-MultisigWallet/ERC20Bank/lib/forge-std"]
	path = D11-MultisigWallet/ERC20Bank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D16-Create2~Permit2/BankPermit2/lib/forge-std"]
	path = D16-Create2~Permit2/BankPermit2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D18-TheGraph/NFTMarket/lib/forge-std"]
	path = D18-TheGraph/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D18-TheGraph/NFTMarket/lib/openzeppelin-contracts"]
	path = D18-TheGraph/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D16-Create2~Permit2/BankPermit2/lib/openzeppelin-contracts"]
	path = D16-Create2~Permit2/BankPermit2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D19-SignNFT/NFTMarket/lib/forge-std"]
	path = D19-SignNFT/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D19-SignNFT/NFTMarket/lib/openzeppelin-contracts"]
	path = D19-SignNFT/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D20-IDO~Stake/IDOToken/lib/forge-std"]
	path = D20-IDO~Stake/IDOToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D20-IDO~Stake/StakeToken/lib/forge-std"]
	path = D20-IDO~Stake/StakeToken/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D20-IDO~Stake/IDOToken/lib/openzeppelin-contracts"]
	path = D20-IDO~Stake/IDOToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D20-IDO~Stake/StakeToken/lib/openzeppelin-contracts"]
	path = D20-IDO~Stake/StakeToken/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D22-SlotLayout/SlotOwner/lib/forge-std"]
	path = D22-SlotLayout/SlotOwner/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D22-SlotLayout/CastGetStorage/lib/forge-std"]
	path = D22-SlotLayout/CastGetStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D23-UpgradeProxy/NFTMarket/lib/forge-std"]
	path = D23-UpgradeProxy/NFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D23-UpgradeProxy/NFTMarket/lib/openzeppelin-contracts"]
	path = D23-UpgradeProxy/NFTMarket/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D23-UpgradeProxy/NFTMarket/lib/openzeppelin-contracts-upgradeable"]
	path = D23-UpgradeProxy/NFTMarket/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "D23-UpgradeProxy/NFTMarket/lib/openzeppelin-foundry-upgrades"]
	path = D23-UpgradeProxy/NFTMarket/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "D22-SlotLayout/ReadStorage/lib/forge-std"]
	path = D22-SlotLayout/ReadStorage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D25-Security/CTF_Vault/lib/forge-std"]
	path = D25-Security/CTF_Vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D16-Create2~Permit2/MintInscription/lib/forge-std"]
	path = D16-Create2~Permit2/MintInscription/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D24-OPTGas~MappingList～WhiteList～MultiCall/AirdopMerkleNFTMarket/lib/forge-std"]
	path = D24-OPTGas~MappingList～WhiteList～MultiCall/AirdopMerkleNFTMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "D16-Create2~Permit2/MintInscription/lib/openzeppelin-contracts"]
	path = D16-Create2~Permit2/MintInscription/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D16-Create2~Permit2～EIP1167/MintInscription/lib/openzeppelin-contracts"]
	path = D16-Create2~Permit2～EIP1167/MintInscription/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "D16-Create2~Permit2～EIP1167/BankPermit2/lib/openzeppelin-contracts"]
	path = D16-Create2~Permit2～EIP1167/BankPermit2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
